.song-player{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .progress, .controller{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .progress{
        width: 90vw;
        input{
            margin: 0 1rem;
            width: 100%;
        }
    }

    .controller{
        width: 90vw;
        max-width: 30vw;
        .play{
            margin: 0 1rem;
        }

        .prev, .play, .next{
            cursor: pointer;
        }
    }

}